/*

  BACKGROUND GRADIENTS

 */

.bg-gradient-near-white-to-white {
  background: var(--near-white);
  background: linear-gradient(to bottom, var(--near-white), var(--white));
}

.bg-gradient-light-gray-to-moon-gray {
  background: var(--light-gray);
  background: linear-gradient(to bottom, var(--light-gray), var(--moon-gray));
}

.bg-gradient-near-black-to-dark-gray {
  background: var(--near-black);
  background: linear-gradient(to bottom, var(--near-black) 50%, var(--dark-gray) 100%);
}

.bg-gradient-light-gray-to-white {
  background: var(--white);
  background: linear-gradient(1deg, var(--white), var(--light-gray));
}

.bg-gradient-white-to-light-gray {
  background:  var(--white);
  background: linear-gradient(to bottom, var(--white), var(--light-gray));
}

.bg-gradient-blue-to-dark-blue {
  background: var(--blue);
  background: linear-gradient(to bottom, var(--blue), var(--dark-blue));
}
